@import url("reset.css");
     
body{
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #e8eaed;
}

header{
    position: relative;
    overflow: hidden;
    height: 100px;
}

header section{
    padding: 20px;
    position: absolute;
}

header section p{
    padding-top: 20px;
}

header img{
    height: 350px;
    width: 100%;
}

header h1{
    font-weight: 600;
    font-size: 30px;
}

.menuBar nav{
    background-color: #404040;
    height: 46px;
}

.menuBar nav ul{
    list-style-type: none;
}

.menuBar nav ul li{
    display: inline;
    float: left;
}

.menuBar nav li{
     padding: 15px;
}

.menuBar nav li:hover{
    background-color: #00ACE9;
}

.menuBar nav li a:active{
    background-color: #00ACE9;
}


.menuBar nav a{
    color: #F6F6E8;
    text-decoration: none;
}

#wrapper{
    width: 100%;
    max-width: 1440px;
    min-height: 600px;
    padding-top: 20px;

}

main{
    background-color: #fff;
    float: left;
    margin-bottom: 90px;
    margin-left: 30px;
    min-width: 60%;
    max-width: 60%;
    padding: 20px;
    border-radius: 15px;
    border-color: #85C1E9;
    border-style: solid;
    border-width: 2px;
    border-top-width: 9px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

}

article{
    background-color: #000;
}

main h2{
    font-weight: 600;
    font-size: 20px;
    color: #6A9A1F;
}

main h3 {
    font-weight: 600;
    color: #6A9A1F;
}

aside{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    float: right;
    min-width: 210px;
    max-width: 250px;
    margin-right: 20px;
    border-radius: 15px;
    border-color: #85C1E9;
    border-style: solid;
    border-width: 2px;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;

}

aside h2{
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #6A9A1F;
} 

aside p{
    text-align: center;
    
}

.boxPic{
    margin-bottom: 30px;
    width: 200px;
    padding: 10px;
    margin-left:40px;
    
}

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top-color: #85C1E9;
    border-top-width: 2px;
    border-style: solid;
    background-color: #fff;
}

footer p{
    text-align: center;
    padding: 10px;
}

table{
    width: 100%;
}
table th {
    font-weight: 600;
    background-color: #9C2E6D;
    color: #fff;
    padding: 8px;
 
}

table th, td{
    text-align: center;
    
}

table td {
padding: 5px;
 
}

/*Sätt en min-width för att öka prestandan för mindre skärmar*/
@media ONLY screen AND (max-width: 650px){
     
    aside{
        margin: 0px;
        margin-left: 10px;
        float: left;
        width: 100%;
        min-width: 460px;
        max-width: 460px;
        max-height: 300px;
        
    }
    
    .boxPic{
        margin:0px;
        max-height: 130px;
        min-width: 500px;
        max-width: 500px;
        margin-bottom: 50px;
        margin-left: 10px;
    
    }
    
    main{
        float: left;
        min-height: 500px;
        max-height: 500px;
        min-width: 460px;
        max-width: 250px;
        margin: 10px; 
        margin-bottom: 100px;
     
    }
    
}